

<div class="row">
	<!-- 候補一覧 -->
	<div class="col-sm-8 col-xs-8">
		<main  id="main">
		<h3 class="things_top_title" >Want to do things</h3>
		
			<% @posts.each do |p| %>
				<% if p.schedule.nil? %>
					<div class="row post">
						<div class="faceicon">
							<!-- ここをownerの値にに応じて表示内容を変える -->
							<!-- いずれヘルパーで実装 -->
							<%if p.owner.to_s == "やましょ" %>
							<%= image_tag "yamaki_icon.png" %>
							<% elsif p.owner.to_s == "だーひろ"%>
							<%= image_tag "ono_icon.png" %>
							<% elsif p.owner.to_s == "えってぃ"%>
							<%= image_tag "suzue_icon.png" %>
							<% end %>
						</div>

						<div class=" chatting">
							<div class="says">
							<div class="title_text">
								<%= link_to post_path(p.id) do %>
									<%= p.title %>
									
								<% end %>
							</div>

							<div class="content_text">
								<% if p.content.length > 50 %>
									<%= p.content.slice(0...50) %>
								<%= link_to "...続きを読む", post_path(p.id) %>
								<% else %>
									<%= p.content %>
								<% end %>
							</div>
							<div class="comment_count">
								<span class="glyphicon glyphicon-comment"></span>コメント(<%=  p.comments.size %>)
							</div>
						</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</main>
	</div>


	<!-- 日程確定したやつ -->
	<div class="col-sm-4  col-xs-4" style="padding-top: 20px;">
		<div id="pc-side-nav" class="sidebar">
			<div class="title_box">
				<p class="plans_top_title">Next Plans</p>
				
				<ul class="plans_list">
					<% if @posts.any? %>
						<% @posts.each do |p| %>
							<% if p.schedule.present? %>
								<li>
									<p class="plan_date"><%= p.schedule %></p>
									<p class="plan_title"><%= link_to p.title, post_path(p.id) %>
								</li>
							<% end %>
						<% end %>
					<% else %>
						<p>予定はありません</p>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

</div>



<!-- TOPに戻るための画像 -->
<div id="back-to-top" style="position: fixed; right: 30px; bottom: 20px;" >
	<a href="#"><%= image_tag "go_to_top.png" ,width:"80px", height:"80px"%></a>
</div>


