<!DOCTYPE html>
<html>
  <head>
    <title>WantToDoList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<!-- ここにヘッダーを記載する -->
      <%= link_to image_tag("wl_logo.png",{width: "180px", height: "100px;", class: "logo"}), posts_path %>
  	</header>
  	<div class="container">
    	<%= yield %>
	</div>
	<footer>
		<!-- ここにフッターを記載する -->
	</footer>
  </body>
</html>
